\.git
\.hg

\.DS_Store
\.project

*\.sublime-project
*\.sublime-workspace

node_modules
npm-debug\.log
logs

doc
lib-cov
build

local
local_*
mysql_data
mongodb_data

config/staging.js
config/production.js

config/runtime.json
public/gen

\.*.swp
